body
{
  margin: 0;
  padding: 0;
  height: 100%;
  background: #E6114D;
}

.titulos-principales
{
  margin: 0px;
  background-color: black;
}
h1
{
  color:#fff;
  text-align: center;
}

.menu-navegacion
a{
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 10px;
  margin: 0 10px;
  background: black;
  border: none;
  color:#fff;
  text-align: center;
  font-size: 12px;
}

a{
  text-decoration: none;
}

.menu-navegacion
{
    text-align: center;
}

li:hover a
{
  background: #F81DEB;
}

.footer
{
  padding: 20px;
  height: 60px;
  background: #0C7F7F;
  bottom: 0px;
}

li
{
  display: inline;
}

ul
{
  list-style: none;
}

.informacion-personal
{
  width: 40%;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
}

h1,h2
{
  text-align: center;
}

.biograf
{
  text-align: justify;
  width: 90%;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}